
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    height: 100%; 
    margin-left:3px;
    margin-right:3px;
    /* overflow-x: hidden;  */
}

.navbar {
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 10; 
}

img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

nav a:hover {
    background-color: #555;
    color: white;
}

.header {
    /* background-color: pink;  */
    background-image: url("https://www.datocms-assets.com/29926/1602789304-footer-bg.png?h=472&w=1440");
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px; 
    width: 100%;
    position: relative;
    z-index: 5; 
    border-bottom:2px solid #fff ;
}

/* Links in header */
.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 5px; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.header a:hover {
    /* background-color: #555; */
    color: white;
}
.header a:active {
    color: #ff5733; /* You can change this to any color */
    text-decoration: underline;
}

#divs {
    background-image: url("https://images.pexels.com/photos/2393789/pexels-photo-2393789.jpeg?auto=compress&cs=tinysrgb&w=600");  
    background-size: cover; 
    object-fit: cover;
    object-position: center;
    height:85vh; 
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
}


#divs h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}


/* footer { 
    background-image: url("https://www.datocms-assets.com/29926/1602789304-footer-bg.png?h=472&w=1440");
    color: white;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-info, .footer-links, .footer-social {
    flex: 1; 
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-social a {
color: white;
text-decoration: none;
margin: 5px 0;
}

.footer-links {
    text-align: center;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-social a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-social a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
} */


/* @media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }
} */



footer{
    margin-top:1px ;
}
.foot-panel{
    background-color: #37475a;  
    /* background-image: url("https://www.datocms-assets.com/29926/1602789304-footer-bg.png?h=472&w=1440");  */
    color:white;
    height: 50px;
    display:flex;
   
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color:#222f3d;  
    /* background-image: url("https://www.datocms-assets.com/29926/1602789304-footer-bg.png?h=472&w=1440");   */
    color: white;
    height:300px;
    display:flex;
    justify-content:space-evenly;

}
.links a {
    text-decoration: none;
}
.links a i {
    margin-right: 10px; 
}
.head a{
    line-height: 1.5; 
    display: block;
}
.head  h3 i {
    font-size: 18px; 
    color:white;     
    margin-right: 10px;
}
.pages a i {
    font-size: 15px; 
    color: white;  
    margin-left: 4px; 
    transform: rotate(-90deg);
}
.pages a{
    color: white;  
    text-decoration: none;
}

ul{
    margin-top: 50px;
}
ul a{
    display:block;
    font-size: 0.85rem;
    margin-top:10px ;
    color:#dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height:70px;
    display: flex;
    justify-content: center;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height:80px;
    font-size: 0.9rem;
    text-align: center;
}
.pages{
    padding:20px ;

}


